<div class="modal-content">
  <div class="modal-body">
    <main class="task-preview">
      <h4 class="task-preview__title display-5 ">{{task?.title}}</h4>
      <p class="task-preview__description">
        {{task?.description}} 
      </p>
 
      <section class="task-preview__points">
        <img 
          src="../../../assets/icons/point.svg"
          class="navbar__icon--small task-preview__points__icon">
        <span class="task-preview__points__value">
          <b> {{task?.storyPoints}} </b>
        </span>
        <span class="task-preview__points__title">
          points
        </span>
      </section>
    
    </main>
  </div>
</div>
