<div class="modal-content">
  <div class="modal-body">
    <main class="task-preview">
      <h4 class="task-preview__title display-5 ">{{task?.title}}</h4>
      <p class="task-preview__description">
        {{task?.description}} Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi deleniti odio fugit omnis, voluptatem pariatur atque, eveniet nemo sit, perferendis reprehenderit ex odit vitae libero accusamus consequuntur voluptates id laudantium!
        Provident, tempora, tempore unde fuga nihil ea reiciendis numquam pariatur beatae aliquid optio, perspiciatis obcaecati iusto nemo animi! Provident, ducimus praesentium debitis eum impedit officiis reiciendis corrupti quam ipsum ad?
        Adipisci eligendi, provident ea fugiat totam iure. Quo distinctio facere optio ad explicabo saepe, laudantium eligendi cumque doloremque ipsam! Officia aliquid, voluptatem architecto aliquam saepe eligendi in tempora dolore ullam.     
      </p>
 
      <section class="task-preview__points">
        <img 
          src="../../../assets/icons/point.svg"
          class="navbar__icon--small task-preview__points__icon">
        <span class="task-preview__points__value">
          <b> {{task?.storyPoints}} </b>
        </span>
        <span class="task-preview__points__title">
          points
        </span>
      </section>
    
    </main>
  </div>
</div>
