.project {

  &__title-bar {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
  }

  &__tag-bar {
    text-align: center;
    
    &__tag {
      margin: .2rem;
    }
  }

  &__description {
    width: 85%;
    margin: 2rem auto; 
  }
  
  &__createdAt {
    display: block;
    width: 80%;
    margin: 2rem auto;
  } 
  

  &__tabs {
    width: 85%;
    margin: 2rem auto;

    &__tab {
    }
  }

  &__controls {
    width: 15%;
    margin: 2rem auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}
