.navbar {
  font-family: 'Roboto Mono', monospace;
  color: $color-black;
  background-image: linear-gradient(to left bottom, $color-blue, $color-pink);
  width: 75%;
  border-radius: 0.8rem;
  margin: auto;
  
  &__icon {
    display: inline-block;

    &--large {
      height: $large-icon-size;
      width: $large-icon-size;
    }

    &--medium {
      height: $medium-icon-size;
      width: $medium-icon-size;
    }

    &--small {
      height: $small-icon-size;
      width: $small-icon-size;
    }
  }

  &__toggle {
    position: absolute;
    border-radius: 100%;
    padding: 0.7rem;
    background-image: linear-gradient(to right bottom, $color-blue, $color-soft-red);
    transition: all 0.2s; 
    backface-visibility: hidden;
    border: none;

    &:hover {
      transform: scale(1.3);
    }
    
    &:active {
     transform: scale(0.8);
    }
  }

}
