.navbar {
  color: $color-black;
  background-image: linear-gradient(to left bottom, $color-blue, $color-pink);
  box-shadow: .5rem 1rem 1rem rgba($color-pink, .2); 

  width: 75%;
  height: $toolbar-height;
  border-radius: 0.8rem;
  margin: auto;
  

  &__tool-panel {
    display: flex;
    justify-content: space-between;
    min-width: 5rem;
    backface-visibility: hidden;

    &__item {
      background: transparent;
      border: none;
      transition: ease-in all 0.2s;

      &:hover {
        transform: scale(1.2);
      }
    }
  }

  &__icon {
    display: inline-block;

    &--large {
      height: $large-icon-size;
      width: $large-icon-size;
    }

    &--medium {
      height: $medium-icon-size;
      width: $medium-icon-size;
    }

    &--small {
      height: $small-icon-size;
      width: $small-icon-size;
    }
  } 
}

.navbar-toggle {
  position: fixed;
  border-radius: 100%;
  padding: 0.7rem;
  background-image: linear-gradient(to right bottom, $color-blue, $color-soft-red);
  transition: all 0.2s;
  backface-visibility: hidden;
  border: none;

  &:hover {
    transform: scale(1.3);
  }
  
  &:active {
    transform: scale(0.8);
  }
}
