<div class="d-flex justify-content-around">
  <div class="iteration-list mx-2 w-25">
    <iteration-item 
      *ngFor="let iteration of (iterations$ | async)"
      [selected]="(iterationId$ | async)! === iteration.id"
      [iteration]="iteration"/> 
  </div>
  <task-board
    class="w-50"
    *ngIf="(tasks$ | async)?.length; else emptyBoard"
    [mode]="'iteration'"
    [iterationId]="(iterationId$ | async)!"
    [tasksObs]="tasks$"
    [isLoading]="isLoadingIterations$ | async"/>

  <ng-template #emptyBoard>
    <h2 [ngClass]="">There are no tasks here yet...</h2>
  </ng-template>
</div>

