<div class="container">
  <div class="project">

    <div class="project__title-bar">
      <h1> {{ (project$ | async)?.title }}</h1>
      <figure class="figure text-center">
        <img 
          class="figure-img img-fluid rounded navbar__icon--large"
          src="../../../assets/icons/user-simple.svg"
          alt="UserIcon">
        <figcaption class="figure-caption ">{{ (project$ | async)?.author?.name}}</figcaption>
      </figure>
    </div>

    <div class="project__tag-bar">
      <span 
        class="project__tag-bar__tag" 
        *ngFor="let tag of (project$ | async)?.tags">
        #{{tag.title}}
      </span>
    </div>
    
    <p class="project__description">
     {{ (project$ | async)?.description }} 
    </p>

    <ul class="nav nav-tabs project__tabs">
      <li class="nav-item project__tabs__tab">
        <a href="" class="nav-link active">Backlog</a>
      </li>
      <li class="nav-item project__tabs__tab">
        <a href="" class="nav-link">Iterations</a>
      </li>
    </ul>
 
    <task-board 
      [tasks]="tasks$ | async"
      [isLoading]="isLoadingTasks$ | async"/> 
      
  </div>
</div>

