  <div class="project">

    <div class="project__title-bar">
      <h1> {{ (project$ | async)?.title }}</h1>
      <figure class="figure text-center">
        <img 
          class="figure-img img-fluid rounded navbar__icon--large"
          src="../../../assets/icons/user-simple.svg"
          alt="UserIcon">
        <figcaption class="figure-caption ">{{ (project$ | async)?.author?.name}}</figcaption>
      </figure>
    </div>

    <div class="project__tag-bar">
      <span 
        class="project__tag-bar__tag" 
        *ngFor="let tag of (project$ | async)?.tags">
        #{{tag.title}}
      </span>
    </div>
    
    <p class="project__description">
      {{ (project$ | async)?.description }} 
    </p>

    <span class="project__createdAt">
      Created at: {{ (project$ | async)?.createdAt?.toString() }} 
    </span> 

    <ul class="nav nav-tabs project__tabs">
      <li class="nav-item project__tabs__tab">
        <button 
          (click)="onSwitchMode()"
          [ngClass]="mode === 'backlog' ? 'active' : '' "
          class="nav-link">Backlog</button>
      </li>
      <li class="nav-item project__tabs__tab">
        <button
          (click)="onSwitchMode()"
          [ngClass]="mode === 'iteration' ? 'active' : '' "
          class="nav-link">Iterations</button>
      </li>
    </ul>

    <div class="project__controls">
      <button 
        class="btn btn-lg btn-outline-dark" 
        (click)="onAdd()"> 
        New {{ mode === 'backlog' ? 'task': mode}} 
      </button>
    </div>
  
    <ng-template [ngIf]="mode === 'backlog'">
      <task-board 
        *ngIf="(tasks$ | async)?.length else emptyBacklog"
        [tasksObs]="tasks$"
        [isLoading]="isLoadingTasks$ | async"/> 
    </ng-template>

    <ng-template #emptyBacklog>
      <h2 class='display-5 text-center'>Backlog is empty...</h2>
    </ng-template>
    
    <iteration-list 
      *ngIf="mode === 'iteration'"/>

</div>

