<div class="modal fade" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title fs-5">
                    <ng-content select="[title]"></ng-content>
                </div>
            </div>
            <div class="modal-body">
                <ng-content select="[body]"></ng-content>
            </div>
            <div class="model-footer">
                <ng-content select="[footer]"></ng-content>
            </div>
        </div>
    </div>
</div>
