.header-primary {
  color: transparent;
  background-image: linear-gradient(to top, $color-pink, $color-blue);
  background-clip: text;
  -webkit-background-clip: text;
  transition: all .4s;
  
  margin-bottom: 2rem;
  margin-left: 2rem;

  text-decoration: none;


  &:hover {
    text-shadow: .5rem 1rem 1rem rgba($color-black, .2);
    transform: scaleX(1.1);    
  }
}

.project {
  font-size: 1.2rem;

  &__description {
    text-indent: 4rem;
  }

  &__tabs {
    color: $color-pink;
  

    &__tab {
      font-size: 1.3rem;
         
    }

  }

}
