<nav
    class="navbar fixed-bottom my-1"
    (click)="onToggleToolbar()" 
    [ngClass]="{
        'slideOutToolbar--bottom': state === 'hidden',
        'slideInToolbar--bottom': state === 'shown'
    }">
    <div class="container-fluid">
        <div class="navbar__tool-panel">
            <button class="navbar__tool-panel__item">
                <img class="navbar__icon--medium"
                     src="../../../../assets/icons/view.svg" alt="view">
            </button>
            <button  class="navbar__tool-panel__item">
                <img class="navbar__icon--medium"
                     src="../../../../assets/icons/eye.svg" alt="eye">
            </button>

        </div> 

        <div class="navbar__tool-panel">
            <input class="form-control form-control-sm"  type="text">
            <button class="navbar__tool-panel__item">
                <img class="navbar__icon--medium"
                     src="../../../../assets/icons/search.svg" alt="view">
            </button>
            <button class="navbar__tool-panel__options">Options</button>
        </div>
    </div>
</nav>
<button 
    class="navbar-toggle--bottom-bar"
    (click)="onToggleToolbar()"
    [ngClass]="{
        'slideOutButton--bottom': state === 'hidden',
        'slideInButton--bottom': state === 'shown'
    }" >
    <img class="navbar__icon--small" src="../../../../assets/icons/arrow-down.svg" alt="arrow">
</button>