<nav class="navbar fixed-bottom my-1">
    <div class="container-fluid">
        <div class="navbar__tool-panel">
            <button class="navbar__tool-panel__item">
                <img class="navbar__icon--medium"
                     src="../../../../assets/icons/view.svg" alt="view">
            </button>
            <button  class="navbar__tool-panel__item">
                <img class="navbar__icon--medium"
                     src="../../../../assets/icons/eye.svg" alt="eye">
            </button>

        </div>
        <button class="navbar__toggle--top">
            <img class="navbar__icon--small" src="../../../../assets/icons/arrow-down.svg" alt="arrow">
        </button>

        <div class="navbar__tool-panel">
            <input class="form-control form-control-sm"  type="text">
            <button class="navbar__tool-panel__item">
                <img class="navbar__icon--medium"
                     src="../../../../assets/icons/search.svg" alt="view">
            </button>
            <button class="navbar__tool-panel__options">Options</button>
        </div>
    </div>
</nav>
