.navbar {

  &__toggle--top {
    @extend .navbar__toggle;
    left: 50%;
    bottom: 55%;
  }

  &__tool-panel {

    &__options {
      @extend .navbar__tool-panel__item;
      text-decoration: underline;

      &:hover {
        cursor: context-menu;
      }
    }
  }
}

