.navbar { 
  &__tool-panel {

    &__options {
      @extend .navbar__tool-panel__item;
      text-decoration: underline;

      &:hover {
        cursor: context-menu;
      }
    }
  }
}

.navbar-toggle {
  &--bottom-bar {
    @extend .navbar-toggle;
    left: 50%;
    bottom: calc($toolbar-height - .7rem);
    z-index: 1035;
  }
}