<div
  [ngStyle]="{'min-height': '2rem'}"
  cdkDropList
  [cdkDropListData]="{ content: container.data, status: container.title}"
  (cdkDropListDropped)="drop($event)"
  (cdkDropListExited)="exit($event)">
  <div *ngIf="!isLoading; else loadingTasks">
    <div 
      class="task-board__container__item fadeIn" 
      *ngFor="let item of container.data"
      [cdkDragDisabled]="item.disabled"
      cdkDrag>
      
      <task-item [task]="item.content" />
      
      <div *cdkDragPreview>
        <span class="d-block">
          Description: {{item.content.description}}
       </span>
       <span class="d-block"> 
          <b> Points: {{item.content.storyPoints}} </b>
        </span>
      </div> 

    </div> 
  </div>

  <ng-template #loadingTasks>
    <div class="task-board__container fadeIn" >
      <img 
        src="../../../assets/animated/double-ring-1s-197px.svg"
        alt="loading-spinner"
        class="nabar__icon--small">
    </div>
  </ng-template>
 
</div>
