<div class="d-flex justify-content-between align-items-center">
  {{task.title}}

  <button 
    type="button" 
    class="btn"
    (shown)="onPopoverShown()"
    (hidden)="onPopoverHidden()"
    [ngbPopover]="popContent"
    [popoverTitle]="popTitle">
    <img 
      src="../../../assets/icons/three-dots-vertical.svg" 
      alt="edit" 
      class="navbar__icon--small task-board__container__item__options-toggle">
  </button> 
 
  <ng-template #popContent>
    <ul class="task-board__container__item__options list-group">
      <li 
        class="list-group-item list-group-item-action"
        (click)="onTaskMoveToIteration()">
        <img 
          
          src="../../../assets/icons/move.svg"
          alt="move" 
          class="navbar__icon--small task-board__container__item__options__option"/>
        Move
      </li>
      <li 
        class="list-group-item list-group-item-action"
        (click)="onTaskPreviewClicked()">
        <img 
          src="../../../assets/icons/eye.svg"
          alt="eye" 
          class="navbar__icon--small task-board__container__item__options__option">
        View
      </li>
      <li 
        class="list-group-item list-group-item-action"
        (click)="onTaskEditClicked()">
        <img 
          src="../../../assets/icons/pencil-square.svg"
          alt="pensil" 
          class="navbar__icon--small task-board__container__item__options__option">
        Edit
      </li>
      <li 
        class="list-group-item list-group-item-action"
        (click)="onTaskDeleteClicked()">
        <img 
          src="../../../assets/icons/trash.svg" 
          alt="trash" 
          class="navbar__icon--small task-board__container__item__options__option">
        Delete
      </li> 
    </ul>
  </ng-template>
  
  <ng-template #popTitle>
    Options
  </ng-template>

</div>


