<div class="container profile">
  
  <div class="profile__title mt-2">
    <h3 class="display-3 profile__title__name"> {{ (profile$ | async)?.name }} </h3>
    <button class="profile__title__control mx-2 btn">
      <img 
        src="../../assets/icons/pencil-square.svg"
        alt="pensil" 
        class="navbar__icon--medium task-board__container__item__options__option">
    </button>
  </div>

  <p class="profile__email "> 
    <i> {{ (profile$ | async)?.email }} </i>
  </p>

  <div class="profile__controls">
    <button 
      (click)="onAddProject()"
      class="btn btn-lg btn-outline-dark">
      New project
    </button>
  </div>

  <ul class="nav nav-tabs profile__tabs">
    <li class="nav-item project__tabs__tab">
      <button 
        (click)="onSwitchMode()"
        [ngClass]="mode === 'public' ? 'active' : '' "
        class="nav-link">Public</button>
    </li>
    <li class="nav-item project__tabs__tab">
      <button
        (click)="onSwitchMode()"
        [ngClass]="mode === 'private' ? 'active' : '' "
        class="nav-link">Private</button>
    </li>
  </ul>

  <div *ngIf="!(isLoading$ | async); else loading">
    <project-list
      *ngIf="mode === 'public'"
      [projects$]="publicProjects$"
      [controls]="true"/>

    <project-list
      *ngIf="mode === 'private'"
      [projects$]="privateProjects$"
      [controls]="true"/>
  </div>
  <ng-template #loading>
    <img 
      class="nabar__icon--small"
      width="20rem"
      height="20rem"
      src="../../assets/animated/double-ring-1s-197px.svg">
  </ng-template>
</div>
