<div class="modal-content">
  <div class="modal-header">
    <h1 
      class="modal-title fs-5" 
      id="staticBackdropLabel"
      *ngIf="!(isLoading$ | async); else loadingHeader">
      Sign In
    </h1>
    <ng-template #loadingHeader>
      Signing in 
      <img 
        class="nabar__icon--small"
        width="20rem"
        height="20rem"
        src="../../../assets/animated/double-ring-1s-197px.svg">
    </ng-template>
    <button 
        type="button" 
        class="btn-close" 
        aria-label="Close" 
        (click)="activeModal.dismiss()">
    </button>
  </div>
  <div class="modal-body">
    <form
      [formGroup]="signInForm"
      (ngSubmit)="onSubmit()">
        <div class="form-floating mb-3">
          <input 
            type="email"
            class="form-control"
            id="emailInput"
            placeholder="some@email.com"
            formControlName="email"
            required
            [ngClass]="{
              'is-invalid': !signInForm.get('email')?.valid 
                && signInForm.get('email')?.touched,
              'is-valid': signInForm.get('email')?.valid
            }" >
          <label for="emailInput">Email:</label>
          <div class="invalid-feedback">
            Enter a propper email, please.
          </div>
        </div> 
        <div class="form-floating mb-3 has-validation">
          <input 
            type="password"
            class="form-control"
            id="passwodrInput"
            placeholder="strong password"
            formControlName="password"
            required
            [ngClass]="{
              'is-invalid': !signInForm.get('password')?.valid 
                && signInForm.get('password')?.touched,
              'is-valid': signInForm.get('password')?.valid
            }">
          <label for="passwordInput">Password:</label>
          <div class="invalid-feedback">
            Password must be 8-30 chars long.
          </div>
        </div>

        <span class="signin__redirect-text">
          If you new here, then you can 
          <a 
            [routerLink]="authRoutes.signup" 
            (click)="activeModal.close()">
             Sign Up here.
          </a>
        </span>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="submit"
      class="btn btn-success"
      (click)="onSubmit()"
      [disabled]="!signInForm.valid">
      Sign In
    </button>
    <button 
      type="button" 
      class="btn btn-secondary" 
      (click)="activeModal.close()">
      Close
    </button>
  </div>
</div>
