<div class="container">
  <h1 class="display-3 header-primary">Projects</h1>  
  <div class="card project-card" *ngFor="let project of projects"> 
    <div class="card-header project-card__header">
      {{project.id}} + {{project.title}}
    </div>
    <div class="card-body project-card__body">
      <p>{{project.description}}</p>
    </div>
    <div class="card-footer project-card__footer">
      <span 
        class="badge rounded-pill text-dark mx-1"
        [ngClass]="tag.type" 
        *ngFor="let tag of project.tags">
          #{{tag.text}}
      </span>
    </div>
  </div>
</div>
