<nav class="navbar fixed-top my-1">
  <div class="container-fluid mx-2">
    <button class="navbar-brand navbar__tool-panel__item">
      <img 
        class="navbar__icon--large" 
        src="../../../../assets/images/a-logo-transparent.png" alt="logo-letter-a">
      Scrum Manager
    </button>
    <button class="navbar__toggle--bottom">
      <img 
        class="navbar__icon--small" 
        src="../../../../assets/icons/arrow-down.svg" alt="arrow">
    </button>
    <button 
      class="navbar__tool-panel__item" 
      (click)="showSignInModal()">
      <img 
        class="navbar__icon--medium" 
        src="../../../../assets/icons/user-simple.svg" alt="user-icon">
      {{username || 'Log in'}}
    </button>
  </div>
</nav>
