<nav class="navbar fixed-top">
  <div class="container-fluid">
    <a target="_blank" class="navbar-brand" href="#">
      <img class="navbar__icon--large" src="../../../../assets/icons/letter-a.svg" alt="letter-a">
      Scrum Master
    </a>
    <button class="navbar__toggle--bottom">
      <img class="navbar__icon--small" src="../../../../assets/icons/arrow-down.svg" alt="arrow">
    </button>
    <a target="_blank" class="navbar__username" href="#">
      <img class="navbar__icon--medium" src="../../../../assets/icons/user-simple.svg" alt="user-icon">
      {{username}}
    </a>
  </div>
</nav>
