<nav 
  class="navbar fixed-top my-1" 
  [ngClass]="{
    'slideOutToolbar--top': state === 'hidden',
    'slideInToolbar--top': state === 'shown'
  }">
  <div class="container-fluid mx-2">
    <button 
      class="navbar-brand navbar__tool-panel__item"
      (click)="onLogotypeClick()">
      <img 
        class="navbar__icon--large"   
        src="../../../../assets/images/a-logo-transparent.png" alt="logo-letter-a">
      Scrum Manager
    </button>
    
    <button
      *ngIf="!(isAuth$ | async); else isAuth" 
      class="navbar__tool-panel__item" 
      (click)="onShowSignInModal()">
      <img 
        class="navbar__icon--medium" 
        src="../../../../assets/icons/user-simple.svg" alt="user-icon">
      {{username || 'Log in'}}
    </button>
    <ng-template #isAuth>
      <button
        class="navbar__tool-panel__item"
        (click)="onShowLogoutDialog()">
        <img 
          class="navbar__icon--medium"
          src="../../../../assets/icons/box-arrow-left.svg" alt="box-arrow-left"/>
        Logout
      </button>
    </ng-template>
  </div>
</nav>

<button 
  class="navbar-toggle--top-bar" 
  (click)="onToggleToolbar()"
  [ngClass]="{
    'slideOutButton--top': state === 'hidden',
    'slideInButton--top': state === 'shown'
  }">
  <img 
    class="navbar__icon--small" 
    src="../../../../assets/icons/arrow-down.svg" alt="arrow">
</button>
